<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>analize text</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <!--this is a navigation bar-->
      <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Text Utils</span>
      </nav>
    <!---->
    <div class="container">
      <h1>Analized text</h1>
      <br>
      <pre>{{ pas.q }}</pre>
    </div>
  </body>
</html>
